body{background-color:black;
	font-family: 'Roboto', sans-serif;
	color:whitesmoke;
}
#odd{ position:relative;
 height:350px;
 width:350px;
 float:left;
}
#nice{position:relative;
height:400px;
width: 400px;
float:left;
left:40px;
font-size: 20px;
}
#not{
position:relative;
bottom:285px;
left: 400px;

}
#even{
	height:50px;
	width:50px;
	position:relative;
	bottom:300px;
	left:400px;
	float:left;	
}
u{color:whitesmoke;

}
#tony{
	position:relative;
	bottom:20px;
}
#note{
	position:relative;
	bottom:20px;
}
#vista{ position:relative;
       left:0px;